.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 4rem 0;
}

.text__image {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

.text__content {
  padding: 4rem;
  line-height: 1.6;
  font-size: 0.9rem;
}

h1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 100%;
  }

  .text__content {
    padding: 6rem;
  }
}
