.header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.header__icons {
  display: flex;
  list-style: none;
}

.header__icon {
  font-size: 1.2rem;
  margin-right: 1.2rem;
}

.header__iconcontainer {
  position: relative;
  height: 20px;
  width: 20px;
}

.header__cartcount {
  position: absolute;
  background: red;
  bottom: -5px;
  right: -5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid white;
}
