.checkout__image {
  height: 100px;
  width: 100px;
}

.checkout__container {
  background: #f6f7f9;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.checkout__left {
  display: flex;
}

.checkout__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  padding: 0 1rem;
}

.checkout__buttons {
  display: flex;
  justify-content: space-between;
}

.checkout__button {
  background: none;
  border: none;
  text-decoration: underline;
}
