.breadcrumb__list {
  display: flex;
  list-style: none;
  padding: 0 1rem;
}

.breadcrumb_listitem {
  margin-right: 0.5rem;
}

.breadcrumb_listitem::after {
  content: "  /";
}

.breadcrumb_listitem:last-child::after {
  content: "";
}
