.banner__container {
  background: black;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.banner__text {
  color: white;
  font-size: 0.9rem;
}

.banner__close {
  position: absolute;
  right: 2rem;
  top: 0.7rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
